---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Button from "../components/Button.astro";
import { type Project, projects } from "../data";
import '../styles/style.css';


export function getStaticPaths() {
  return [
    ...projects.map((project) => ({
      params: {
        slug: project.slug,
      },
    })),
  ];
}

const { slug } = Astro.params;
const project = projects.find((project) => project.slug === slug) as Project;
---

<Layout
  title={project.name}
  description={project.description}
  image={project.cover}
>
  <div class="max-w-6xl mx-auto">

    <div class="flex justify-between gap-2 pb-10 items-center">
      <a href="/" class="relative text-black">
        <img src="/icons/arrow.svg" alt="Retour" class="w-6 h-6 absolute -left-8 top-1" />
        <span class="satoshi text-xl" style="view-transition-name: name">Augustin Briolon</span>
      </a>

      <Button class="animate-in" text="Voir le site" href={project.url} />
    </div>

    <div class="flex flex-col gap-4">
        <img
          src={project.cover}
          alt={project.name}
          class="w-full h-full object-cover rounded-xl"
          transition:name={`${slug} image`}
        />

        <div class="flex flex-col gap-8  animate-in">
          <div>
            <h3 class="text-3xl sm:text-5xl font-bold">{project.name}</h3>
            <p class="text-sm font-semibold text-gray-500">{project.date}</p>
          </div>

          <p class="text-lg w-1/2">{project.description}</p>

          {project.team && (
            <div class="flex flex-col">
              <p>Réalisé avec :</p> 
              <div class="flex gap-4">
                {project.team.map((member) => (
                    <a class="text-sm text-blue-500" href={member.link} target="_blank">
                      @{member.name}
                    </a>
                ))}
            </div>
            </div>
          )}
        </div>

    </div>

    <div class="py-10 w-full flex flex-col gap-4  animate-in">
      <h4 class="text-lg">De la même catégorie : <span class="uppercase panchang">{project.category}</span></h4>
      <div class="container grid gap-projects md:grid-cols-2 xl:grid-cols-3">
        {
          projects
            .filter((p) => p.category === project.category && p.id !== project.id)
            .map((pr) => <ProjectCard project={pr} />)
        }
      </div>
    </div>

  </div>
</Layout>