---
import { type Project, projects } from "../data";
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";


export function getStaticPaths() {
  return [
    ...projects.map((project) => ({
      params: {
        slug: project.slug,
      },
    })),
  ];
}

const { slug } = Astro.params;
const project = projects.find((project) => project.slug === slug) as Project;
---

<Layout
  title={project.name}
  description={project.description}
  image={project.cover}
>
  <div class="max-w-4xl mx-auto relative">
    <div class="flex gap-2 pb-10 items-center text-gray-500">
      <a href="/">Home</a>
    </div>
    <div class="flex flex-col md:flex-row sm sm:gap-8">
      <div class="max-w-[450px] w-full h-full max-h-[450px]">
        <img
          src={project.cover}
          alt={project.name}
          class="w-full h-full object-cover rounded-xl shadow-2xl shadow-gray-200 border-b animate-in"
          transition:name={`${slug} image`}
        />
      </div>
      <article class="py-4 flex justify-between flex-col">
        <div>
          <h1 class="text-3xl sm:text-5xl font-bold animate-in" >
            {project.name}
          </h1>
          <div transition:name={`${slug} title`}></div>
          <p
            class="max-w-sm py-4 text-lg"
            transition:name={`${slug} description`}
          >
            {project.description}
          </p>
        </div>
        <div class="pt-2 sm:pt-8 text-right">
          <div class="text-4xl font-semibold" transition:name={`${slug} price`}>
            {project.date}
          </div>
        </div>
      </article>
    </div>
    <h4 class="font-bold text-lg pb-6">Mes autres projets ({project.category})</h4>
    <div class="flex flex-wrap justify-center sm:justify-normal gap-4">
      {
        projects
          .filter((p) => p.category === project.category && p.id !== project.id)
          .map((pr) => <ProjectCard project={pr} />)
      }
    </div>
  </div>
</Layout>