---
import { ViewTransitions } from "astro:transitions";
import '../styles/style.css';
interface Props {
  title: string;
  image?: string;
  description?: string;
}

const {
  title,
  description = "Augustin Briolon is a French developer.",
} = Astro.props;

---

<!doctype html>
<html lang="en" class="bg-svgBg" >
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />

    <meta property="og:title" content={title} />
    <meta property="og:type" content="product" />
    <meta property="og:description" content={description} />

    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:card" content="summary_large_image" />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Astro Transitions Shop</title>
    <ViewTransitions />
  </head>
  <body>
    <main
      class="relative max-w-6xl h-screen mx-auto p-4 md:p-8 w-full flex flex-col items-center gap-6"
    >
      <slot />
    </main>
  </body>
</html>